In [1]:
#7-A

In [2]:
import nltk

In [14]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Yash\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Yash\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Yash\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Yash\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [4]:
text= "Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization."

In [5]:
#Sentence Tokenization
from nltk.tokenize import sent_tokenize
tokenized_text= sent_tokenize(text)
print(tokenized_text)
#Word Tokenization
from nltk.tokenize import word_tokenize
tokenized_word=word_tokenize(text)
print(tokenized_word)

['Tokenization is the first step in text analytics.', 'The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization.']
['Tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', '.', 'The', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'Tokenization', '.']

In [6]:
print("stop words of English")
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
print(stop_words)

stop words of English
{'off', 'where', "weren't", 'all', 'y', "hadn't", 'both', 'through', 'her', 'yourselves', 'them', 'his', 'in', "hasn't", 'it', 'until', 'aren', 'against', 'not', "isn't", 's', 'theirs', 'as', 'you', "you're", 'their', 'no', 'about', 'will', 'from', 'on', 'ain', 'needn', 'those', 'she', 'up', "won't", 'do', 'only', 'this', 'any', 'yourself', 'your', 'have', 'by', 'just', 'if', 'over', 'herself', 'for', 'didn', 'after', 'again', 'the', 'out', 'haven', 'weren', 'what', 'my', 'mightn', 'an', 'these', 'had', 'each', "couldn't", 'ma', 'nor', "should've", 'so', 'him', 'below', "shouldn't", 'down', 'that', 'ourselves', 'm', 'are', 'is', "shan't", "needn't", 'but', 't', 'our', 'been', 'mustn', 'himself', 'being', 'doesn', 'whom', "you'll", 'some', 'me', 'while', 'wouldn', 'then', 'has', 'more', 'shan', 'with', "she's", 'very', 'than', 'at', 'own', "wouldn't", 'myself', 'wasn', 'were', 'further', 'to', 'we', 'few', 'a', 'd', 'couldn', 'don', 'why', "it's", 'once', 'they', 'of', 'he', 'during', 'i', 'can', 'should', 'doing', "wasn't", "you've", 'too', 'o', 'ours', 're', 'and', 'does', 'yours', 'into', 'same', 'themselves', "mustn't", 'or', 'here', 'having', 'other', 'most', 'll', "aren't", 'itself', 'was', 'there', 'above', "don't", 'such', 'shouldn', 'who', "haven't", 'between', 'before', 'now', 'isn', 'its', 'because', "you'd", 've', 'when', "didn't", 'how', 'under', 'hers', 'won', 'hasn', "that'll", 'did', "doesn't", 'be', 'hadn', "mightn't", 'am', 'which'}

In [7]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
 
example_sent = """This is a sample sentence,
                  showing off the stop words filtration."""
 
stop_words = set(stopwords.words('english'))
 
word_tokens = word_tokenize(example_sent)
 
filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
 
filtered_sentence = []
 
for w in word_tokens:
    if w not in stop_words:
        filtered_sentence.append(w)
 
print(word_tokens)
print(filtered_sentence)

['This', 'is', 'a', 'sample', 'sentence', ',', 'showing', 'off', 'the', 'stop', 'words', 'filtration', '.']
['This', 'sample', 'sentence', ',', 'showing', 'stop', 'words', 'filtration', '.']

In [8]:
from nltk.stem import PorterStemmer
e_words= ["wait", "waiting", "waited", "waits"]
ps =PorterStemmer()
for w in e_words: 
    rootWord=ps.stem(w) 
    print(rootWord)

wait
wait
wait
wait

In [11]:
import nltk
nltk.download('omw-1.4')

from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
text = "studies studying cries cry"
tokenization = nltk.word_tokenize(text)
for w in tokenization: 
    print("Lemma for {} is {}".format(w,wordnet_lemmatizer.lemmatize(w)))

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Yash\AppData\Roaming\nltk_data...

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

In [13]:
import nltk
from nltk.tokenize import word_tokenize
data="The pink sweater fit her perfectly"
words=word_tokenize(data)
for word in words: 
    print(nltk.pos_tag([word]))

[('The', 'DT')]
[('pink', 'NN')]
[('sweater', 'NN')]
[('fit', 'NN')]
[('her', 'PRP$')]
[('perfectly', 'RB')]

In [15]:
#7-B

In [16]:
import pandas as pd
import sklearn as sk
import math

In [17]:
first_sentence = "Jupiter is the largest Planet"
second_sentence = "Mars is the fourth planet from the Sun"
#split so each word have their own string
first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")#join them to remove common duplicate words
total= set(first_sentence).union(set(second_sentence))
print(total)

{'Sun', 'Planet', 'Mars', 'from', 'largest', 'planet', 'fourth', 'is', 'the', 'Jupiter'}

In [18]:
wordDictA = dict.fromkeys(total, 0) 
wordDictB = dict.fromkeys(total, 0)
for word in first_sentence:
    wordDictA[word]+=1
    
for word in second_sentence:
    wordDictB[word]+=1

In [19]:
pd.DataFrame([wordDictA, wordDictB])

   Sun  Planet  Mars  from  largest  planet  fourth  is  the  Jupiter
0    0       1     0     0        1       0       0   1    1        1
1    1       0     1     1        0       1       1   1    2        0

In [20]:
def computeTF(wordDict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():
        tfDict[word] = count/float(corpusCount)
    return(tfDict)
#running our sentences through the tf function:
tfFirst = computeTF(wordDictA, first_sentence)
tfSecond = computeTF(wordDictB, second_sentence)
#Converting to dataframe for visualization
tf = pd.DataFrame([tfFirst, tfSecond])

In [21]:
tf

     Sun  Planet   Mars   from  largest  planet  fourth     is   the  Jupiter
0  0.000     0.2  0.000  0.000      0.2   0.000   0.000  0.200  0.20      0.2
1  0.125     0.0  0.125  0.125      0.0   0.125   0.125  0.125  0.25      0.0

In [22]:
def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / (float(val) + 1))
        
    return(idfDict)
#inputing our sentences in the log file
idfs = computeIDF([wordDictA, wordDictB])

In [23]:
idfs

{'Sun': 0.3010299956639812,
 'Planet': 0.3010299956639812,
 'Mars': 0.3010299956639812,
 'from': 0.3010299956639812,
 'largest': 0.3010299956639812,
 'planet': 0.3010299956639812,
 'fourth': 0.3010299956639812,
 'is': 0.3010299956639812,
 'the': 0.3010299956639812,
 'Jupiter': 0.3010299956639812}

In [24]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
#putting it in a dataframe
idf= pd.DataFrame([idfFirst, idfSecond])
print(idf)

        Sun    Planet      Mars      from   largest    planet    fourth  \
0  0.000000  0.060206  0.000000  0.000000  0.060206  0.000000  0.000000
1  0.037629  0.000000  0.037629  0.037629  0.000000  0.037629  0.037629

         is       the   Jupiter
0  0.060206  0.060206  0.060206
1  0.037629  0.075257  0.000000