In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
df=pd.read_csv(r"C:\Users\Yash\OneDrive\Desktop\DSBDA_Lab\Problem_Statement_3\Mall_Customers.csv")

In [4]:
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [5]:
df.mean(numeric_only=True)

CustomerID                100.50
Age                        38.85
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64

In [6]:
df['Age'].mean()

38.85

In [7]:
df.mean(axis=1,numeric_only=True)[0:4]

0    18.50
1    29.75
2    11.25
3    30.00
dtype: float64

In [8]:
df.median(numeric_only=True)

CustomerID                100.5
Age                        36.0
Annual Income (k$)         61.5
Spending Score (1-100)     50.0
dtype: float64

In [9]:
df['Age'].median()

36.0

In [10]:
df.median(axis=1, numeric_only=True)[0:4]

0    17.0
1    18.0
2    11.0
3    19.5
dtype: float64

In [11]:
df['Age'].mode()

0    32
Name: Age, dtype: int64

In [12]:
df.loc[:,'Age'].mode()

0    32
Name: Age, dtype: int64

In [13]:
df.min()

CustomerID                     1
Genre                     Female
Age                           18
Annual Income (k$)            15
Spending Score (1-100)         1
dtype: object

In [14]:
df.loc[:,'Age'].min(skipna=False)

18

In [16]:
df.std(numeric_only=True)

CustomerID                57.879185
Age                       13.969007
Annual Income (k$)        26.264721
Spending Score (1-100)    25.823522
dtype: float64

In [17]:
df.loc[:,'Age'].std()

13.969007331558883

In [18]:
df.std(axis=1, numeric_only=True)[0:4]

0    15.695010
1    35.074920
2     8.057088
3    32.300671
dtype: float64

In [19]:
df.groupby(['Genre'])['Age'].mean()

Genre
Female    38.098214
Male      39.806818
Name: Age, dtype: float64

In [20]:
df_u=df.rename(columns={'Annual Income (k$)':'Income'},inplace=False)

In [21]:
(df_u.groupby(['Genre']).Income.mean())

Genre
Female    59.250000
Male      62.227273
Name: Income, dtype: float64